{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Profilo di {{ user.username }}</h1>
    <p>Benvenuto al tuo profilo, {{ user.username }}!</p>
    <!-- Aggiungi qui ulteriori informazioni che vuoi mostrare nel profilo -->
    <div>
        <h3>Dettagli:</h3>
        <p>ID Utente: {{ user.id }}</p>
        <p>Email: {{ user.email  }}</p>
        <p>Data di Registrazione: {{ user.data_di_registrazione }}</p>
    </div>
    <a href="{{ url_for('logout') }}" class="btn btn-primary">Logout</a>
</div>
{% endblock %}
